/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Ignore the Gemfile.lock since this is a Gem
Gemfile.lock

.byebug_history

# Ignore the built gemfile
t64conv-*.*.*.gem

# Ignore the directory that disks get output to by default
/C64DISKS
